.dll
/AIGuesserGame/AIGuesserGame/bin/Debug
/AIGuesserGame/AIGuesserGame/bin/Release/net6.0/DeepAI.dll
/AIGuesserGame/AIGuesserGame/obj/Release/net6.0/PubTmp/Out/DeepAI.dll
/AIGuesserGame/AIGuesserGame/obj
/AIGuesserGame/AIGuesserGame/asp-ai-guesser-firebase.json
